<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849792538515-qhnucorb4hnmv6fcev9r8iojfat3qm9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849792538515-qhnucorb4hnmv6fcev9r8iojfat3qm9r</string>
	<key>API_KEY</key>
	<string>AIzaSyDnLXkxgcJsUYvGAcPlsASHfPBfcGVAbOY</string>
	<key>GCM_SENDER_ID</key>
	<string>849792538515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plaaula</string>
	<key>PROJECT_ID</key>
	<string>planejartcc-9ba2e</string>
	<key>STORAGE_BUCKET</key>
	<string>planejartcc-9ba2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849792538515:ios:4e2c5fb96f70711311ba66</string>
</dict>
</plist>